@use "./common.scss" as *;

.App {
  min-width: 15rem;
  width: 70rem;
  max-width: 90vw;
}

.footer {
  margin-top: 1rem;
  text-align: center;
}

.footer > p {
  font-weight: $font-light;
}

.footer a {
  margin-left: 0.5em;
  font-weight: $font-medium;
  &:hover,
  &:focus-visible {
    outline: 0.15rem dashed white;
    outline-offset: 0.2rem;
  }
}

@media only screen and (min-width: 48rem) {
  .App {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
  .footer {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 64rem) {
  .App {
    height: 32rem;
    grid-template-rows: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 64rem) and (min-height: 45rem) {
  .footer {
    position: absolute;
    margin-top: 3rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
